@using ShopCaPhe.Models

@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutCaPhe.cshtml";
}
<link href="~/Content/Thanhtoan.css" rel="stylesheet" />
<link href="~/Content/GioHang.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@using (Html.BeginForm("ThanhToanThanhCong", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="ThanhToanThanhCong">
        <div class="topthanhtoan">
            <table>
                <tr>
                    <td>
                        <h2>Thanh toán thành công</h2>
                        <h4>Đơn hàng của bạn đã được thanh toán thành công.</h4>
                        <h4>Shop CaPhe sẽ liên hệ với quý khách hàng sớm để bàn giao sản phẩm đã đặt hàng.</h4>
                        <h4>
                            Thời gian giao hàng: Trong 3-4 ngày từ ngày <span id="ngaynhanhang"></span> 
                            <script type="text/javascript">
                                var day = new Date();
                                var d = day.getDate();
                                var d1 = day.getDate() + 2;
                                var m = day.getMonth() + 1;
                                var y = day.getFullYear();
                                document.getElementById('ngaynhanhang').innerHTML = + d + "/" + m + "/" + y;
                                document.getElementById('ngaynhanhang1').innerHTML = + d1 + "/" + m + "/" + y;
                            </script>
                        </h4>
                        <h4><span style="color:red;">Lưu ý:</span> Nếu quý khách hàng đặt hàng vào ngày nghỉ cuối tuần(thứ 7, chủ nhật) hoặc ngày nghỉ lễ chúng tối sẽ liên hệ lại với quý khách vào thời gian làm việc tiếp theo.</h4>
                    </td>
                </tr>

            </table>
        </div>
        <h2>Thông Tin Đơn Hàng</h2>
        <div class="donhang">
            <div class="Cart-info">
                <table>
                    <thead>
                        <tr>
                            <td>Mã Sản Phẩm</td>
                            <td>Hình Sản Phẩm</td>
                            <td>Tên Sản Phẩm</td>
                            <td>Số Lượng Sản Phẩm</td>
                            <td>Đơn Giá</td>
                            <td>Tổng Tiền</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{double TongTien = 0; }
                        @foreach (var sp in (IList<ShopCaPhe.Models.SanPhamGH>)ViewData["spdamua"])
                        {
                            <tr>
                                <td><input disabled type="text" value="@sp.MaSP" id="MaSach" name="MaSach"></td>
                                <td><a href="~/ViewSP/ChiTietSanPham?MaSp=@sp.MaSP"><img src="~/Images/@sp.HinhMinhHoa" /></a></td>
                                <td>@sp.TenSP</td>
                                <td><input type="text" disabled id="@sp.MaSP" class="txtSLGH" value="@sp.SoLuongMua" /></td>
                                <td><span id="DonGia"> @string.Format("{0:0,0}", sp.DonGia)</span></td>
                                <td>@string.Format("{0:0,0}", sp.TongTien)</td>
                            </tr>
                            TongTien += @sp.DonGia * @sp.SoLuongMua;
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="thongtin">
            <h2>Thông Tin Khách Hàng</h2>
            <form class="w3-container">
                @foreach (var dg in (IList<ShopCaPhe.Models.DONDATHANG>)ViewData["dondathang"])
                {
                    <p>
                        <label>Tên người nhận</label>
                        <input disabled class="w3-input" type="text" value="@dg.TenNguoiNhan">
                    </p>
                    <p>
                        <label>Địa chỉ</label>
                        <input disabled class="w3-input" type="text" value="@dg.DiaChiNhan">
                    </p>
                    <p>
                        <label>Số điện thoại</label>
                        <input disabled class="w3-input" type="text" value="@dg.DienThoaiNhan">
                    </p>
                    <p>
                        <label>Ngày nhận hàng</label>
                        <input disabled class="w3-input" type="text" value="@dg.NgayDH">
                    </p>
                    <p>
                        <label>Tổng tiền cần thanh toán</label>
                        <input disabled class="w3-input" type="text" value="@string.Format("{0:0,0}", dg.TriGia)vnđ">


                    </p>
                }

            </form>
            @foreach (var dg in (IList<ShopCaPhe.Models.DONDATHANG>)ViewData["dondathang"])
            {
                @Html.ValidationSummary()
                <input id="To" style="visibility:hidden" name="To" type="text" value="@dg.EmailNhanHang">
            }
            <input  id="Subject" style="visibility:hidden" name="Subject" type="text" value="Đơn hàng ShopCaPhe">
            @foreach (var dg in (IList<ShopCaPhe.Models.DONDATHANG>)ViewData["dondathang"])
            {
            <textarea style="visibility:hidden" cols="20" id="Body" name="Body" rows="2">Xin chào @dg.TenNguoiNhan
                Mã số đợn hàng của bạn là: @dg.SoDH
                Tổng tiền: @dg.TriGia đ  
                Sản phẩm đã mua: @foreach (var item in (IList<ShopCaPhe.Models.CTDONHANG>)ViewData["tensp"]){    @item.SANPHAM.TenSP}

                Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn bạn đã ủng hộ ShopCaPhe, chúc bạn thật nhiều sức khỏe !
            </textarea>
            }
            <input type="submit" style=" margin-left:-43.5%; background-color:#795548; color:white" class="btn btn-animation btn2" value="Xác Nhận Thanh Toán" />
        </div>
    </div>
}

