@model ShopCaPhe.Models.MENU


@{
    ViewBag.Title = "EditMenu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/EditAdmins1.css" rel="stylesheet" />
<style>
    .frmauthor {
        font-family: serif;
    }

    .form-control {
        width: 50%;
    }

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    table {
        text-align: center;
    }

    th {
        color: white;
        background-color: #17aa67;
    }

    .editdropdown {
        color: #696969;
        font-size: 14px;
        padding: 10px;
        display: block;
        width: 132%;
        margin-left: -54px;
        border: 2px solid #ced4da;
        border-radius: 4px;
    }

    form {
        background-color: white;
        padding: 15px 40px;
    }
</style>
@*-------------------------------------*@
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    {

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip01">ID</label>
                <input type="text" class="form-control" id="TenSP" name="ID" value="@Model.ID" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip02">Menu name</label>
                <input type="text" class="form-control" id="DonGia" name="MenuName" value="@Model.MenuName" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">ID Child Menu</label>
                <input type="text" class="form-control" id="SoLuong" name="ParentID" value="@Model.ParentID" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Ngày tạo</label>
                <input type="text" class="form-control" id="YeuThich" name="CreateDate" value="@Model.CreateDate" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Link</label>
                <input type="text" class="form-control" id="SoLuong" name="Link" value="@Model.Link" required>
            </div>
        </div>
        <button type="button" style=" width:13%; background-color:gray; border:solid 1px gray" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CreateMenu", "MenuAdmin")'">Quay về</button> <input type="submit" style=" width:13%" class="btn btn-primary" value="Lưu" />


    }

}
