@using ShopCaPhe.Models
@model ShopCaPhe.Models.DONDATHANG
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href="~/Content/EditAdmins.css" rel="stylesheet" />*@
<link href="~/Content/GioHang.css" rel="stylesheet" />
<link href="~/Content/IndexAdmin.css" rel="stylesheet" />

<style>


    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }
    table {
        border: 1px solid #e9e9e9
    }
    .content-edit input {
        width: 40%;
    }

    .dropdown {
        width: 40%;
    }

    .right {
        width: 40%;
        float: left;
    }

    .left {
        float: left;
        width: 40%;
    }

    .baotrum {
        width: 100%;
        display: block;
    }

    form {
        background-color: white;
        padding: 10px;
    }

    .content-edit {
        width: 100%;
        display: block;
        height: 400px;
    }

    table > tbody > tr > td {
        padding: 0px;
        font-weight: normal;
    }
</style>
<h4 style="font-family:serif">@ShopCaPhe.Language.Resource.iedit</h4>

@using (Html.BeginForm())
{
    <div class="content-edit">

        @Html.AntiForgeryToken()
            
        <h5>Thông tin người nhận</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SoDH)


        @Html.EditorFor(model => model.SoDH, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })        @Html.ValidationMessageFor(model => model.SoDH, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control", @style = "display: none" } })
        @Html.ValidationMessageFor(model => model.MaKH, "", new { @class = "text-danger" })

        <div class="right">
            <label class="control-label">Tên người nhận</label>   @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })

            @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" } )
            <label class="control-label">Ngày đặt hàng</label>
            @Html.EditorFor(model => model.NgayDH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayDH, "", new { @class = "text-danger" })
            <label class="control-label">Ngày giao hàng</label>
            @Html.EditorFor(model => model.Ngaygiaohang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ngaygiaohang, "", new { @class = "text-danger" })
            <label class="control-label">Địa chỉ</label>
            @Html.EditorFor(model => model.DiaChiNhan, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="left">
            <label class="control-label">Trạng Thái</label>
            <select class="dropdown editdropdown" name="trangthai">
                <option value="@Model.TrangThai">@Model.TrangThai</option>
                <option value="Đã giao">Đã giao</option>
                <option value="Đang giao">Đang giao</option>
            </select>
            <label class="control-label">Điện thoại</label>
            @Html.EditorFor(model => model.DienThoaiNhan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DienThoaiNhan, "", new { @class = "text-danger" })
            <label class="control-label">Trị Giá</label>
            @Html.EditorFor(model => model.TriGia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TriGia, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="Cart-info" style="margin-top:-6%">
        <h5>Thông tin hóa đơn</h5>
        <hr />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên Sản Phẩm</th>
                    <th>Hình Ảnh</th>
                    <th>Số Lượng</th>
                    <th>Thành Tiền</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var dg in (IList<CTDONHANG>)ViewData["listdh"])
                {
                    <tr>
                        <td>@dg.SANPHAM.TenSP</td>
                        <td><a href="~/ViewSP/ChiTietSanPham?MaSp=@dg.MaSP"><img src="~/Images/@dg.SANPHAM.HinhMinhHoa" /></a></td>
                        <td><p>@dg.SoLuong</p></td>
                        <td><span id="DonGia"> @string.Format("{0:0,0}", dg.ThanhTien)</span></td>
                    </tr>


                }

            </tbody>
        </table>

    </div>
    <button type="button" style=" width:13%; background-color:gray; border:solid 1px gray" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CreateKhachHang", "AdminCRUD")'">Quay về</button> <input type="submit" style=" width:13%" class="btn btn-primary" value="Lưu" />

}
