@*@using ShopCaPhe.Models
    @model List<DONDATHANG>*@

@using ShopCaPhe.Models
@model PagedList.IPagedList<ShopCaPhe.Models.DONDATHANG>
@using PagedList.Mvc
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/IndexAdmin.css" rel="stylesheet" />
<style>
    .dropdown {
        width: 15%;
    }
    table>
    .btnthongke {
        margin-top: 20px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        width: 80px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #008CBA;
    }
    /* Blue */
    .button3 {
        background-color: #f44336;
    }
</style>

<div class="table-responsive">
    <select style="display:inline-block" id="ngay" class="dropdown" name="ngay">
        <option value="#">Chọn Ngày</option>
        @foreach (var item in ViewBag.ItemDay.Items)
        {
            <option value="@item">@item</option>

        }
    </select>
    <select style="display:inline-block" id="thang" class="dropdown" name="thang">
        <option value="#">Chọn Tháng</option>

        @foreach (var item in ViewBag.ItemMonth.Items)
        {
            <option value="@item">@item</option>

        }
    </select>

    <select style="display:inline-block" id="nam" class="dropdown" name="nam">
        <option value="#">Chọn Năm</option>
        @foreach (var item in ViewBag.ItemYear.Items)
        {
            <option value="@item">@item</option>

        }
    </select>

    <br />

    <div class="table-title">
        <div class="row" style="padding-top:10px">
            <div class="col-sm-4">
                <input type="submit" style=" width:50% ; margin: 20px 0px" onclick="HoaDon()" class="btn btn-primary" value="Xem hóa đơn" />

            </div>


            <div class="search-box">
                <form class="form-inline" style="margin-left:51%" action="/vi-vn/Admin/ThongKe/HoaDon" method="get" name="name">
                    <input class="form-control mr-sm-2" type="search" placeholder="Mã hóa đơn" aria-label="Search" name="searchString" required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>

        </div>
    </div>

    <br>
    <h4>Hóa Đơn Ngày @Session["day"] Tháng  @Session["month"] Năm @Session["year"]</h4>
    <hr />
    <form style="background-color:white; padding:10px">
        <table class="table table-striped" style="border:1px solid #e9e9e9">
            <thead>
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Đơn giá</th>
                    <th>Ngày đặt</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                        <td>@item.SoDH</td>
                        <td>@item.TenNguoiNhan</td>
                        <td>@item.DienThoaiNhan</td>
                        <td>@item.DiaChiNhan</td>
                        <td>@string.Format("{0:0,0}", item.TriGia)</td>
                        <td>@item.NgayDH</td>
                        <td>@item.Ngaygiaohang</td>
                        @if (item.TrangThai == "Đã giao")
                        {
                            <td><a style="width:100%; padding:5px" href="@Url.Action("xulytrangthai", "ThongKe", new { id = item.SoDH })" class="badge badge-success">@item.TrangThai</a></td>

                        }
                        else
                        {
                            <td><a style="width:100%; padding:5px" href="@Url.Action("xulytrangthai", "ThongKe", new { id = item.SoDH })" class="badge badge-danger">@item.TrangThai</a></td>
                        }
                        <td>
                            <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                <a href="@Url.Action("Edit","ThongKe", new { id = item.SoDH })">
                                    <i class="material-icons">edit</i>
                                </a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) out of @Model.PageCount entries</div>
            <ul class="pagination">
                <li class="page-item">@Html.PagedListPager(Model, page => Url.Action("HoaDon", new { page, size = ViewBag.currentSize }))</li>
            </ul>
        </div>
    </form>
</div>



