@using ShopCaPhe.Models
@model List<DONDATHANG>
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/IndexAdmin.css" rel="stylesheet" />

<style>
    .dropdown {
        width: 15%;
    }

    .btnthongke {
        margin-top: 20px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        width: 80px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #008CBA;
    }
    /* Blue */
    .button3 {
        background-color: #f44336;
    }
</style>

<div class="table-responsive">
    <select style="display:inline-block" id="month" class="dropdown" name="thang">
        <option value="Ký">Chọn Tháng</option>

        @foreach (var item in ViewBag.ItemMonth.Items)
        {
            <option value="@item">@item</option>

        }
    </select>

    <select style="display:inline-block" id="year" class="dropdown" name="nam">
        <option value="#">Chọn Năm</option>
        @foreach (var item in ViewBag.ItemYear.Items)
        {
            <option value="@item">@item</option>

        }
    </select>
    <br />
    <input type="submit" style=" width:15% ; margin: 20px 0px" onclick="Thongke()" class="btn btn-primary" value="Xem thống kê" />
    <br>
    <h4>Tổng Tiền Tháng  @Session["month"] Năm @Session["year"] Là: <span style="color:red">@string.Format("{0:0,0}", Session["TongDG"])</span>vnđ </h4>
    <hr />

    <form style="background-color:white; padding:10px">
        <table class="table table-striped" style="border:1px solid #e9e9e9">
            <thead>
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Tên khách hàng</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Đơn giá</th>
                    <th>Ngày đặt</th>
                    <th>Ngày giao</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                        <td>@item.SoDH</td>
                        <td>@item.TenNguoiNhan</td>
                        <td>@item.DienThoaiNhan</td>
                        <td>@item.DiaChiNhan</td>
                        <td>@string.Format("{0:0,0}", item.TriGia)</td>
                        <td>@item.NgayDH</td>
                        <td>@item.Ngaygiaohang</td>
                        <td><a style="width:100%; padding:5px" href="#" class="badge badge-success">@item.TrangThai</a></td>
                        <td>
                            <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                <a href="@Url.Action("EditHoaDon","ThongKe", new { sohd = item.SoDH })">
                                    <i class="material-icons">edit</i>
                                </a>
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </form>
    @using (Html.BeginForm("Export", "ThongKe", FormMethod.Post))
    {
       <input  type="submit" style=" width:15% ; float:right; margin: 20px 0px" onclick="excel()" class="btn btn-primary" value=" Xuất file thống kê" />
    }
</div>




